.foto1 {
    display: flex;
     width: 680px;
     height: 900px; 
     border: none; 
    }

    .foto2 {
        display: flex;
        width: 680px;
        height: 900px;
        border: none; 
       }
       .foto3 {
        display: flex;
        width: 680px;
        height: 900px;
        border: none; 
       }
       .foto4 {
        width: 680px;
        height: 900px; 
        border: none; 
       }
       .foto5 {
        width: 680px;
        height: 900px; 
        border: none; 
       }
       .foto6 {
        width: 680px;
        height: 900px; 
        border: none; 
       }
       .foto7 {
        width: 680px;
        height: 900px;
        border: none; 
       }
       .foto8 {
        width: 680px;
        height: 900px;
        border: none; 
       }
       .foto9 {
        width: 680px;
        height: 900px; 
        border: none; 
       }
       .foto10 {
        width: 680px;
        height: 900px;
        border: none; 
       }
       .foto11 {
        width: 680px;
        height: 900px;
        border: none; 
       }